<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/pico.fuchsia.css">
    <link rel="stylesheet" href="/components.css">
    <title>{{ title }}</title>
  </head>
  <body>
    {{ comp.views.header() }}
    <main class="container">
      {{ content }}
    </main>
    {{ comp.views.footer() }}
  </body>
</html>